ul.goods {
  display: flex;
  flex-direction: column;
  & li.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    border: 1px solid grey;
    padding: 10px;
    background-color: #fff;
    & .part {
      &.part-main {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        & .good-picture {
          text-align: center;
          margin-bottom: 10px;
        }
        & .good-info {
          & .good-info-head {
            display: none;
          }
          & .good-info-title {
            font-weight: bold;
            margin-bottom: 10px;
          }
          & .good-info-add {
            display: none;
          }
        }
      }
      &.part-about {
        display: flex;
        flex-direction: column;
        text-align: right;
        & .price-club {
          display: flex;
          align-items: flex-end;
          & span {
            display: inline-block;
            width: 50%;
            font-size: 14px;
            &.price {
              font-size: 26px;
              font-weight: bold;
            }
          }
        }
        & .price-reg {
          color: grey;
          font-size: 26px;
        }
        & .points-cost {
          color: grey;
        }
        & .options {
          margin-bottom: 10px;
          & .option-item {
            display: inline-block;
            padding: 5px;
            border-bottom: 1px dotted grey;
            cursor: pointer;
            font-size: 14px;
            &.active {
              border-bottom: none;
              background-color: #000;
              color: #fff;
            }
            &:last-child {
              margin-left: 10px;
            }
          }
        }
        & .part-about-footer {
          display: flex;
          flex-direction: column;
          & .reminder {
            border: 1px solid grey;
            text-align: left;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 5px 0;
            position: relative;
            & .part {
              & span.icon {
                border-radius: 50%;
                background-color: orange;
                color: #fff;
                display: inline-block;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 26px;
              }
              &:nth-child(1) {
                width: 50px;
                text-align: center;
              }
              &:nth-child(2) {
                font-size: 14px;
              }
            }
            &::after,
            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 100%;
              width: 0;
              height: 0;
              border-style: solid;
            }
            &::before {
              left: 14px;
              border-color: grey transparent transparent transparent;
              border-width: 9px;
            }
            &::after {
              left: 15px;
              border-color: white transparent transparent transparent;
              border-width: 8px;
            }
          }
          & .order {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            & .amount {
              display: flex;
              align-items: stretch;
              justify-content: space-between;
              margin-right: 5px;
              & .digit {
                border: 1px solid grey;
                width: 50px;
                padding: 0;
                border-radius: 0;
                height: 100%;
                text-align: center;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
              & .change-amount {
                display: flex;
                flex-direction: column;
                width: 40px;
                margin-left: -1px;
                & span {
                  border: 1px solid grey;
                  display: block;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
            & .button-order {
              flex: auto;
              & button {
                padding-left: 40px;
                text-transform: uppercase;
                background-color: orange;
                color: #fff;
                position: relative;
                margin-top: 0;
                width: 100%;
                height: 100%;
                border: none;
                cursor: pointer;
                transition: 0.2s;
                background-image: url("/shopping-cart.svg");
                background-size: auto 50%;
                background-repeat: no-repeat;
                background-position: 10% 50%;
                &:hover {
                  background-color: green;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tableWidth) {
  ul.goods {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & li.item {
      width: 49%;
      & .part {
        &.part-main {
          & .good-info {
            & .good-info-head {
              display: flex;
              align-items: flex-end;
              margin-bottom: 10px;
              & .uniq-code {
                font-size: 12px;
                margin-right: 20px;
                padding-bottom: 3px;
              }
              & .available {
                span {
                  color: blue;
                  border-bottom: 1px dotted blue;
                  cursor: pointer;
                  font-size: 14px;
                  &:nth-child(1) {
                    display: none;
                  }
                  &:nth-child(2) {
                    border-bottom: 1px dotted transparent;
                  }
                }
              }
            }
            & .good-info-add {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $smDesktopWidth) {
  ul.goods {
    & li.item {
      flex-direction: row;
      padding: 10px;
      width: 100%;
      & .part {
        &.part-main {
          flex-direction: row;
          margin-bottom: 0px;
          width: 70%;
          & .good-picture {
            margin-bottom: 0px;
            margin-right: 10px;
            width: 25%;
          }
          & .good-info {
            width: 75%;
            padding-right: 20px;
            & .good-info-head {
              & .uniq-code {
                font-size: 12px;
              }
              & .available {
                & span {
                  &:nth-child(1) {
                    display: inline-block;
                  }
                  &:nth-child(2) {
                    display: none;
                  }
                }
                &:hover {
                  & span {
                    &:nth-child(1) {
                      display: none;
                    }
                    &:nth-child(2) {
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktopWidth) {
  ul.goods {
    & li.item {
      width: 49%;
    }
  }
}
